#header{
    background-color: gray;
    height: 150px;
    margin: 0px;
    margin-bottom: 20px;
    position: relative;
}

body{
    padding: 0;
    margin: 0;
}

#header table{
    width: 100%;
    margin: auto;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}

.card_holder{
    border: 6px solid black;
    border-radius: 16px;
    text-align: center;
    margin: auto;
    width: fit-content;
    margin-bottom: 20px;
}

.card_holder a{
    color: black;
}

.Common{
    background-color: #888888;
}

.Rare{
    background-color: #ffa31a;
}

.Epic{
    background-color: #b300b3;
}

.Legendary{
    background-color: #33cccc;
}

.Champion{
    background-color: #ffe200;
}

.card_holder img{
    height: 20vh;
    padding: 20px 50px;
}

.name_holder{
    position: relative;
    width: 100%;
    height: 50px;
    border-top: 5px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    z-index: 0;
}

.name_holder h2{
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0;
    position: absolute;
}

#card_table{
    margin:auto;
    width: 80%;
}

#footer{
    background-color: gray;
    margin-top: 50px;
    bottom: 0%;

}
#size{
    height:150px;
    width: 100vw;
}

#page_nav{
    text-align: center;
    width: fit-content;
    margin: 50px auto 0 auto;
    font-size: 3em;
}

#page_nav *{
    display: inline;
}

#card_img{
    height: 100%;
    border: 5px solid black;
    border-radius: 16px;
    padding: 25px;
}

#card_info{
    padding-top: 25px;
    font-size: 2em;
    position: relative;
    height: 100%;
    width: 50%;
}

#card_container{
    margin: 50px auto;
    width: 40%;
    text-align: center;
    height: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#card_description{
    color: gray;
}

#card_form_container{
    flex-direction: column;
    display: flex;
}

#bottom_card_data{
    display: flex;
    position: absolute;
    bottom: 0;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    flex-direction: column-reverse;
}

.star{
    width: 15%;
    padding: 0 2.5%;
}

#rating{
    position: relative;
    margin-bottom: 16px;   
}

.star_overlay{
    position: absolute;
    top: 0;
    height: max-content;
}

.star_flex_box{
    display: flex;
    justify-content: space-around;
    width: 85%;
    margin: auto;
}

#rating:has(.star_overlay:hover) #clip_star_overlay{
    clip-path: inset(0);
}

#clip_star_overlay:has(#star0:hover){
    clip-path: inset(0 80% 0 0) !important;
}
#clip_star_overlay:has(#star1:hover){
    clip-path: inset(0 60% 0 0) !important;
}
#clip_star_overlay:has(#star2:hover){
    clip-path: inset(0 40% 0 0) !important;
}
#clip_star_overlay:has(#star3:hover){
    clip-path: inset(0 20% 0 0) !important;
}
#clip_star_overlay:has(#star4:hover){
    clip-path: inset(0) !important;
}

.star_button{
    width: 20%;
    border: 0;
    background: none;
    padding: 0 2.5%;
}

.button_star{
    width: 100%;
}

#cart img{
    height: 50px;
    background: blue;
    border-radius: 50px;
    border: 2px solid black;
    padding: 15px;
}

#cart{
    z-index: 1;
    position: sticky;
    left: 90%;
    top: 90%;
}

#cart_data td{
    text-align: center;
}

#cart_data{
    margin: auto;
    width: fit-content;
    text-align: center;
}

#orders_table{
    margin: auto;
    text-align: center;
}